<!DOCTYPE html>
<html>
<head>
    <title>Shenron - CMS Tool</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/main/bootstrap.css">
    <link rel="stylesheet" href="/styles/main/layout.css">
    <!--STYLES END-->
</head>

<body>
<%if (req.session && req.session.username) { %>
    <div style="float:right">Welcome <%= req.session.username %>. <a href="/user/logout"> Logout</a></div>
<% } %>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/jquery.validate.min.js"></script>
<!--SCRIPTS END-->
<%- body %>
<input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
    onload=function(){
        var e=document.getElementById("refreshed");
        if(e.value=="no")e.value="yes";
        else{e.value="no";location.reload();}
    }
</script>
</body>
</html>