<script src="/js/vendor/jquery.js"></script>
<link rel="stylesheet" href="/styles/account.css">
<link rel="stylesheet" href="/styles/main/bootstrap.css">
<link rel="stylesheet" href="/styles/cart.css">
<link rel="stylesheet" href="/styles/catalog.css">
<link rel="stylesheet" href="/styles/checkout.css">
<link rel="stylesheet" href="/styles/cms.css">
<link rel="stylesheet" href="/styles/editable-cms.css">
<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/ie.css">
<link rel="stylesheet" href="/styles/login.css">
<link rel="stylesheet" href="/styles/miscellaneous.css">
<link rel="stylesheet" href="/styles/pdp.css">
<link rel="stylesheet" href="/styles/save-for-later.css">
<link rel="stylesheet" href="/styles/segment.css">
<link rel="stylesheet" href="/styles/thankyou.css">
<link rel="stylesheet" href="/styles/{flow}.css">

<section class="main-content editableCMSSection">
    <%- pageHtml %>
</section>

<script>
    var JABONG = window.JABONG || {};
    JABONG.app = JABONG.app || {};
    JABONG.app.baseUrlJS = "<%= baseUrlJS %>";
    JABONG.app.baseUrlCSS = "<%= baseUrlCSS %>";
    JABONG.ResponsiveImgActivated = true;
    JABONG.adblocker = true;
    $(document).ready(function(){
        var counter = 1;
        $("[data-cms-editable=true]").each(function(){
            $(this).attr('data-cms-editable-id', counter++);
        }).wrap("<div class='editableCMSDiv'></div>").after("<button class='editableCMSButton'>Edit</button>");
        var editableCMSSection = $(".editableCMSSection");
        $(document).on('click', '.editableCMSButton', function(){

        });
    });
</script>